*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    color: black;
}

.calendar-container {
  width: 20%;
}

.calendar-container h1 {
  text-align: center; 
}

.calendar-container .customCard {
    width: 100%; 
    max-width: 22rem;
    margin-bottom: 1rem; 
  }
  
  @media (max-width: 768px) {
    .calendar-container .customCard {
      max-width: 100%; 
    }
  }

#tableId {
    margin: 0 auto !important;
    padding: 0 20px !important;
    width: 50% !important;
    background: black !important;
    border-radius: 10px !important;
    padding: 40px !important;
    }
@media screen and (max-width: 480px) {
  #tableId {
    width: calc(100% - 80px) !important;
  }
}
.button-diet {
  background-color: red !important;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
  margin-left: 46%;
}

.button-diet:hover {
  background-color: darkred;
  color: white; 
}
