/* Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./italia.png'); /* Asegúrate de reemplazar esto con la ruta correcta a tu imagen */
  background-size: cover;
  background-position: center;
  color: white; /* Ajusta el color del texto para que contraste con tu fondo */
}

.content-home {

  margin-top: 200px;
}

.button-home {
  margin-top: 200px;
  /* Ajusta el margen superior según sea necesario */
}

.create-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.create-button:hover {
  background-color: darkred;
}
