.login-page {
    background-image: url('/use.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
  }
  
  .login-page .container {
    max-width: 800px !important;
    width: 100% !important;
  }
  